#### NASA Mars News
* Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [1]:
# Example:
# news_title = "NASA's Next Mars Mission to Investigate Interior of Red Planet"
# news_p = "Preparation of NASA's next spacecraft to Mars, InSight, has ramped up this summer, on course for launch next May from Vandenberg Air Force Base in central California -- the first interplanetary launch in history from America's West Coast."

In [2]:
#dependencies

from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [3]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.mars_news_db
collection = db.articles

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

#print(soup.prettify())

In [6]:
results = soup.body.find('div', class_='features')

news_title = result.find('div', class_='content_title').text
news_p = result.find('div', class_='rollover_description_inner').text

print(news_title)
print(news_p)

NASA's Opportunity Rover Mission on Mars Comes to End



NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.

#### JPL Mars Space Images - Featured Image
* Visit the url for JPL Featured Space Image here.
* Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
* Make sure to find the image url to the full size .jpg image.
* Make sure to save a complete url string for this image.

In [ ]:
# Example:
# featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'

In [ ]:
executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
relative_image_url = soup.find('a', class_='button fancybox')['data-fancybox-href']

In [ ]:
featured_image_url = "https://www.jpl.nasa.gov" + relative_image_url
print(featured_image_url)

#### Mars Weather
* Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. Save the tweet text for the weather report as a variable called mars_weather.

In [ ]:
# Example:
# mars_weather = 'Sol 1801 (Aug 30, 2017), Sunny, high -21C/-5F, low -80C/-112F, pressure at 8.82 hPa, daylight 06:09-17:55'

In [ ]:
url = 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

In [ ]:
mars_weather = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text').text
print(mars_weather)

#### Mars Facts
* Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
* Use Pandas to convert the data to a HTML table string.

In [9]:
url = 'https://space-facts.com/mars/'

In [11]:
df = pd.read_html(url)[0]
#print(df)
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [12]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

#### Mars Hemispheres
* Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
* You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
* Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.
* Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [ ]:
# Example:
# hemisphere_image_urls = [
#    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#    {"title": "Cerberus Hemisphere", "img_url": "..."},
#    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
#    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
#]

In [ ]:
hemisphere_image_urls = []

executable_path = {'executable_path': './chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [ ]:
browser.click_link_by_partial_text('Cerberus')

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find('h2', class_='title').text
print(title)
img_url = "https://astrogeology.usgs.gov" + soup.find('img', class_='wide-image')['src']
print(img_url)

In [ ]:
hemi_dict = {'title': title,
             'img_url': img_url}
print(hemi_dict)

In [ ]:
hemisphere_image_urls.append(hemi_dict)
print(hemisphere_image_urls)

In [ ]:
browser.click_link_by_partial_text('Back')

In [ ]:
browser.click_link_by_partial_text('Schiaparelli')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find('h2', class_='title').text
img_url = "https://astrogeology.usgs.gov" + soup.find('img', class_='wide-image')['src']

hemi_dict = {'title': title,
             'img_url': img_url}

hemisphere_image_urls.append(hemi_dict)
print(hemisphere_image_urls)

browser.click_link_by_partial_text('Back')

In [ ]:
browser.click_link_by_partial_text('Syrtis')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find('h2', class_='title').text
img_url = "https://astrogeology.usgs.gov" + soup.find('img', class_='wide-image')['src']

hemi_dict = {'title': title,
             'img_url': img_url}

hemisphere_image_urls.append(hemi_dict)
print(hemisphere_image_urls)

browser.click_link_by_partial_text('Back')

In [ ]:
browser.click_link_by_partial_text('Valles')

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
title = soup.find('h2', class_='title').text
img_url = "https://astrogeology.usgs.gov" + soup.find('img', class_='wide-image')['src']

hemi_dict = {'title': title,
             'img_url': img_url}

hemisphere_image_urls.append(hemi_dict)
print(hemisphere_image_urls)

browser.click_link_by_partial_text('Back')